<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.youtube.com/iframe_api"></script>
</head>

<body>
<div id="player"></div>
<script>
    function onYouTubeIframeAPIReady() {
        window.player = new YT.Player('player', {
            height: '100%',
            width: '100%',
            videoId: 'DwKQqAgKuKY',
            playerVars: {
                'autoplay': 1,
                'mute': 1,
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        switch (event.data) {
            case YT.PlayerState.PLAYING:
                roomChannel.push("play", {currentTime: event.target.getCurrentTime()})
                break;
            case YT.PlayerState.PAUSED:
                roomChannel.push("pause", {currentTime: event.target.getCurrentTime()})
                break;
            case YT.PlayerState.ENDED:
                console.log('Video has ended');
                break;
        }
    }
</script>
</body>

</html>
