<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.youtube.com/iframe_api"></script>
</head>

<body>
    <div id="player"></div>

    <script>
        function onYouTubeIframeAPIReady() {
            new YT.Player('player', {
                height: '100%',
                width: '100%',
                videoId: 'EO5PCqJjn8Y',
                autoplay: true,
                mute: true,
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        function onPlayerReady(event) {
            event.target.playVideo();
        }
        function onPlayerStateChange(event) {
            switch (event.data) {
                case YT.PlayerState.PLAYING:
                    console.log('Video is playing at ' + event.target.getCurrentTime());
                    break;
                case YT.PlayerState.PAUSED:
                    console.log('Video is paused at ' + event.target.getCurrentTime());
                    break;
                case YT.PlayerState.ENDED:
                    console.log('Video has ended');
                    break;
            }
        }
    </script>
</body>

</html>
